@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Title1"] = "Terms and Conditions";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #f2f2f2; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333; 
        }

        h2 {
            color: #333; 
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>Welcome! We commit ourselves to maintaining your privacy and the safety of your private data.</p>
    <p>This Privacy Statement explains how we gather and protect data when you visit our website.</p>
    <p>1. The Data we Collect</p>
    <p> - When you freely provide us with private data like your name and password by account registration, we may collect it.</p>
    <p>2. Information Disclosure</p>
    <p> - Without your permission, we never trade, sell, or otherwise send your private data to third parties unless it's required by law.</p>
    <p>3. Security</p>
    <p> - We take appropriate safety measures that protect your personal data. We cannot, however, guarantee the full safety of your data because there is no completely safe way of data transfer over the internet.</p>

    <h2>@ViewData["Title1"]</h2>
    <p>1. Acceptance of Terms</p>
    <p> - You acknowledge and agree that these Terms and Conditions will be followed by you when using or accessing the website. Please refrain from using the website if you disagree with these conditions.</p>
</body>
</html>
